.pc
binutils[_-]*
gcc-20??????
gcc-*.tar.xz
newlib-4*
newlib-4*.tar.[gx]z
bin
bin-gcn
*-protocol*
*-summary*
usage-*.svg
bootstrap-summary
build-hppa64
build-jit
build-nvptx
build-gcn
build
html
installed-hppa64.tar.xz
installed-jit.tar.xz
installed-testlogs.tar
locales
src
src-nvptx
src-gcn
stamps

debian/*/*~
debian/patches/series

debian/*.debhelper
debian/*.debhelper.log
debian/*.substvars

debian/gcc-XX-16.1
debian/gcc-ar-16.1
debian/gcc-nm-16.1
debian/gcc-ranlib-16.1

debian/tmp*
debian/files
debian/shlibs.local
debian/substvars.local
debian/README.libstdc++-baseline
debian/README.Bugs
debian/README.Debian.*
debian/rules.parameters
debian/soname-cache
debian/arch_binaries*
debian/indep_binaries*

debian/*-16*.preinst
debian/*-16*.postinst
debian/*-16*.prerm
debian/*-16*.postrm
debian/*-16*.doc-base*
debian/*-16*.overrides
debian/lib*1.preinst
debian/lib*2.preinst
debian/lib*6.preinst
debian/lib*1.postinst
debian/lib*6.postinst
debian/lib*1.prerm
debian/lib*6.prerm

debian/*-16-for-build
debian/*-16-for-host
debian/*-16-*-linux-gnu

debian/cpp-16
debian/cpp-16-doc
debian/fixincludes
debian/g++-16
debian/ga68-16
debian/ga68-16-doc
debian/gcc-16
debian/gcc-16-base
debian/gcc-16-diagnostics
debian/gcc-16-doc
debian/gcc-16-source
debian/gcc-16-hppa64-linux-gnu
debian/gcc-16-locales
debian/gcc-16-nof
debian/gcc-16-offload-amdgcn
debian/gcc-16-offload-nvptx
debian/gcc-16-soft-float
debian/gcc-16-test-results
debian/gcc-snapshot
debian/gcobol-16
debian/gccgo-16
debian/gccgo-16-doc
debian/gccrs-16
debian/gdc-16
debian/gfortran-16
debian/gfortran-16-doc
debian/gm2-16
debian/gm2-16-doc
debian/gnat-16
debian/gnat-16-sjlj
debian/gnat-16-base
debian/gnat-16-doc
debian/gobjc-16
debian/gobjc++-16
debian/g*-16-multilib
debian/gcc-16-plugin-dev
debian/lib*asan8
debian/lib*asan8-dbg
debian/lib*atomic1.symbols
debian/lib*atomic1
debian/lib*atomic1-dbg
debian/libcc1-0
debian/libga68-16-dev
debian/libga68-1
debian/libga68-1-dbg
debian/libgccjit-16-dev
debian/libgccjit-16-doc
debian/libgccjit0
debian/libgccjit0-dbg
debian/libgccjit16
debian/libgccjit16-dbg
debian/libgcobol-16-dev
debian/libgcobol2
debian/libgcobol2-dbg
debian/libgdiagnostics-16-dev
debian/libgdiagnostics-16-doc
debian/libgdiagnostics0
debian/libgdiagnostics0-dbg
debian/lib*gcc-s1.symbols
debian/lib*gcc[134]
debian/lib*gcc[134]-dbg
debian/lib*gcc-s[134]
debian/lib*gcc-s[134]-dbg
debian/lib*gcc-16-dev
debian/lib*gfortran5.symbols
debian/lib*gfortran5
debian/lib*gfortran5-dbg
debian/lib*gfortran-16-dev
debian/libgm2-21
debian/libgm2-21-dbg
debian/libgm2-16-dev
debian/lib*go25
debian/lib*go25-dbg
debian/lib*go-16-dev
debian/libgomp-plugin-amdgcn1
debian/libgomp-plugin-hsa1
debian/libgomp-plugin-nvptx1
debian/lib*gomp1.symbols
debian/lib*gomp1
debian/lib*gomp1-dbg
debian/libhwasan0
debian/lib*itm1.symbols
debian/lib*itm1
debian/lib*itm1-dbg
debian/lib*lsan0
debian/lib*lsan0-dbg
debian/lib*objc4
debian/lib*objc4-dbg
debian/lib*objc-16-dev
debian/lib*ssp0
debian/lib*tsan2
debian/lib*tsan2-dbg
debian/lib*ubsan1
debian/lib*ubsan1-dbg
debian/lib*vtv0
debian/lib*vtv0-dbg
debian/libgnat-16
debian/libgnat-util16
debian/libgnat*16-dbg
debian/libgnat*16.overrides
debian/libgnat*16-dev
debian/libgomp1-dev
debian/lib*gphobos7
debian/lib*gphobos7-dbg
debian/lib*gphobos-16-dev
debian/lib*quadmath0.symbols
debian/lib*quadmath0
debian/lib*quadmath0-dbg
debian/libssp0-dev
debian/lib*stdc++6
debian/lib*stdc++6-16-dbg
debian/lib*stdc++-16-dev
debian/lib*stdc++6.symbols
debian/libstdc++-16-doc
debian/libstdc++-16-pic
